<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<h1>
    <center>User update page:
</h1>
<br>
<form th:method="patch" th:action="@{/admin/updateUser(id=${user.getId()})}" th:object="${user}">
    <table align="center" border="1">
        <tbody>
        <center>
            <input type="hidden" th:field="*{id}" id="id"/>
            <label for="name">Enter name: </label>
            <input type="text" th:field="*{name}" id="name" />
            <br/>
            <label for="lastname">Enter last name: </label>
            <input type="text" th:field="*{lastName}" id="lastname" />
            <br/>
            <label for="password">Enter password: </label>
            <input type="text" th:field="*{password}" id="password" />
            <br/>
            <div>
                <p>Choose role: </p>
                <select name="rolesSelected" multiple required size="6">
                    <option disabled selected>select role</option>
                    <div  th:each="role : ${allRoles}">
                        <option th:text="${role.getRole()}" th:value="${role.getId()}" name="roles"/>
                    </div>
                </select>
            </div>
            <input type="submit" value="Update!"/>
        </center>
        </tbody>
    </table>
</form>
<center>
    <br>
    <a th:href="@{/admin/deleteUser/{id}(id=${user.id})}" color="red"><B>Delete record</B></a>
    <br>
    <form th:action="@{/admin/adminusers}">
        <input type="submit" value="Return">
    </form>
<center><input type="button" value="LOGOUT" onclick="window.location.href = 'logout'">
</body>
</html>